CompileFlags:
  Add:
    - -I/Users/shreemanarjunsahu/personal/flutter_package/nitro_ecosystem/packages/nitro/src/native
    - -I/Users/shreemanarjunsahu/personal/flutter_package/nitro_ecosystem/my_camera/lib/src/generated/cpp
    - -I/Users/shreemanarjunsahu/personal/flutter_package/nitro_ecosystem/my_camera/src
